.radioOption{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

.radioOption:focus{
    outline: none;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.box {
    width: 700px;
    height: 600px;
    background: #fff;
}

body {
    margin: 0px;
}

.font {
    font-family: 'Open Sans Condensed', sans-serif;
}

.checked {
    color: orange;
}

.fontTks{
    font-family: 'Lora', serif;
}
.divNegativa {
    float: left;
}
.divPositiva {
    float: right;
}
.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
.margin-left {
    margin-left: 1rem;
}
.margin-top {
    margin-top: 1rem;
}

.fontIndex{
    font-family: 'Comic Neue', cursive;
}

.btnCliente{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: none;
    color: #f8035e;
    width: 240px;
    height: 80px;
    border: 1px solid #f8035e;
    font-size: 18px;
    border-radius: 4px;
    transition: .6s;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnCliente:focus{
    outline:none;
}

.btnCliente:before{
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,.5);
    width: 60px;
    height: 100px;
    left: 0;
    top: 0;
    opacity: .5s;
    filter: blur(30px);
    transform: translateX(-130px) skewX(-15deg);
}

.btnCliente:after {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,.2);
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(30px);
    transform: translate(-100px) scaleX(-15deg);
}

.btnCliente:hover{
    background: #f8035e;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.btnCliente:hover:before {
    transform: translateX(300px) skewX(-15deg);
    opacity: .6;
    transition: .7s;
}

.btnCliente:hover:after {
    transform: translateX(300px) skewX(-15deg);
    opacity: 1;
    transition: .7s;
}

#btnFuncionario{
    top: 60%;
    width: 180px;
    height: 50px;
    font-size: 12px;
}

#boxIndex{    
    border-radius: 25px;
    width: 400px;
    height: 380px;

}

#containerIndex{
    background-color: #f8035d23;
}

#bodyHomeCliente{
    padding-top: 20px;
}

.backContainer{
    /* background-color:#f8035d23; */       
    background-image: url('../img/pngtree-light-pink-empty-wooden-texture-background-image_310066.jpg');
    background-size: 100%;
}

.divBoxCliente{
    border-radius: 20px;
}

#tableCompraCliente{
    /* border:none; */
    margin-top: 1rem;
    padding: none;
}
